/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 60px 100px 40px;
}

.logo {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 900;
    color: #076BB2;
}

nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

nav a {
    color: #000000;
    font-size: 20px;
}

button {
    background: #076BB2;
    color: #FFFFFF;
    border: none;
    text-transform: uppercase;
    padding: 10px 80px;
    margin: 0;
    font-size: 20px;
    cursor: pointer;
}

.lang {
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.burger-btn {
    background: none;
    /* background: transparent; */
    padding: 0;
    display: none;
}

/* ========================================= */

.hero {
    /* height: 85vh; */
    height: 681px;
    background: url(../images/hero.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 100px;
}

.hero-choose {
    padding: 24px 20px;
    width: 235px;
    height: 100px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 8px; */
}

.hero-choose:nth-child(1) {
    background: #7b7b7b;
}

.hero-choose:nth-child(2) {
    background: #504f4f;
}

.hero-choose:nth-child(3) {
    background: #303030;
}

.hero-choose h4 {
    font-size: 16px;
    line-height: 160%;
}

.hero-choose select {
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.hero-choose option {
    background: #888888;
}

.hero button {
    /* width: 235px; */
    height: 100px;
    padding: 20px;
}

/* ========================================= */
section {
    padding: 0 24px;
}

/* ========================================= */

.about-us {
    /* text-align: center; */
    margin: 0px auto;
    /* margin: 100px auto; */
    /* padding: 0 24px; */
    /*      TEST  см. строку 130    */
    max-width: 210mm;
    /* max-width: 1080px; */
    /* line-height: 160%; */
}

h2,
h4,
p {
    text-align: center;
    /* margin: 32px; */
}

h2 {
    font-family: "Lora", serif;
    text-transform: capitalize;
    font-size: 64px;
    font-weight: 700;
    color: #888888;
    margin: 64px 0 42px;
    /* line-height: 150%; */
}

.about-us p {
    line-height: 150%;
    margin: 24px 0;
}

/* ========================================= */
.events {
    text-align: center;
    /* padding: 0 24px; */
    /*      TEST  см. строку 130    */

}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* max-width: 1280px; */
    max-width: 1140px;
    margin: 0px auto;
    /* margin: 32px auto; */
    gap: 20px;
}

.card {
    position: relative;
}

.card-date {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.67);
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 6px;
}

.card-date-day {
    font-size: 40px;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-info {
    padding: 40px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card p {
    text-transform: capitalize;
}

.card h4 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}

/* ========================================= */

.contact-us {
    max-width: 940px;
    /* padding: 0 24px;   */
    /*      TEST  см. строку 130    */
    margin: 0 auto;
    /* margin: 100px auto; */
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-form,
.contact-form-fields {
    gap: 60px;
}


input,
textarea {
    border: none;
    border-bottom: 1px solid #000000;
    padding: 10px 0;
    outline: none;
    /*  --  УБИРАЕТ РАМКУ ВОКРУГ ПОЛЯ  [ INPUT ] , ВОЗМОЖНО ГДЕ-ТО ЕЩЁ   */
    font-size: 16px;
    resize: none;
}

textarea {
    height: 100px;
}

.contact-form button {
    width: 235px;
    display: block;
    margin: 0 auto;
}

/* ========================================= */

footer {
    background: #033C65;
    /* margin: ; */
    /* padding: 64px; */
    /* margin: 64px 0 42px; */
    margin-top: 170px;
}

.footer-body a,
.footer-body p {
    color: #FFFFFF;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
}

.footer-body {
    max-width: 1140px;
    margin: 0 auto;
    padding: 65px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.footer-body h3 {
    font-weight: 700;
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
    padding: 22px 0 0;
}

.footer-body-links {
    display: flex;
    justify-content: space-between;
    padding: 65px 0 30px;
}

.footer-body-links ul {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.footer-body-links h4 {
    text-align: start;
    font-family: "Lora", serif;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
}

.footer-body-links a {
    /* color: #FFFFFF;
    font-family: "Quicksand", sans-serif; */
    font-weight: 100;
    font-size: 20px;
}

.footer-social-media {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-policy {
    border-top: 1px solid #FFFFFF;
    margin: 20px 0;
    display: flex;
    align-items: center;
    padding: 15px 0 0px;
    gap: 15px;
}

.footer-policy a {}

.rights {
    text-align: start;
    opacity: 0.5;
}


/* ========================================= */











/* ========================================= */
/* ========================================= */

@media screen and (max-width: 1030px) {
    .burger-btn {
        display: block;
    }

    nav {
        display: none;
    }

    header {
        padding: 24px;
        justify-content: space-around;
        /* font-size: 90%; */
    }

    .logo {
        font-size: 125%;
        /* font-size: 20px */
    }
}

/* ========================================= */

@media screen and (max-width: 765px) {
    .footer-body div {
        display: none;
    }

    .footer-body h3 {
        font-size: 32px;
    }
}

/* ========================================= */

@media screen and (max-width: 675px) {
    .hero {
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }

    /* .hero button {
        width: 235px;
    } */
    .hero button,
    .hero-choose {
        width: max(75%, 235px);
    }

    .hero-choose:nth-child(1),
    .hero-choose:nth-child(2),
    .hero-choose:nth-child(3) {
        /* backdrop-filter: blur(100px); */
        background: rgba(120, 120, 120, 0.6);
        border: 1px solid #FFFFFF;

    }

    h2 {
        font-size: 24px;
        text-shadow: 0px 12px 8px #504f4f;
        margin: 40px 0 20px;
        /* color: #504f4f; */
        /* text-transform: uppercase; */
    }

    .about-us p {
        font-size: 14px;
        line-height: 100%;
        color: #303030;
        margin: 14px 0;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-info {
        padding: 20px 0 40px;
    }

    .events button {
        margin: 20px 0 40px;
    }

    /* .card { */
    /* border-bottom: 1px solid #888888; */
    /* } */

    .card img {
        height: 100vw;
    }

    .contact-form-fields {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-form,
    .contact-form-fields {
        gap: 30px;
    }

    /* .contact-us h2 { */
    /* border-top: 1px solid #888888; */
    /* padding: 32px 0 16px; */
    /* } */

}

/* ========================================= */

@media screen and (max-width: 450px) {
    .card-date {
        width: 70px;
        height: 70px;
        font-size: 16px;
        gap: 0;
    }

    .card-date-day {
        font-size: 20px;
        font-weight: 600;
    }
}

/* ========================================= */